In [9]:
import pandas as pd

dataset = pd.read_csv("general_data.csv")
dataset["Attrition"] = dataset["Attrition"].map({'No':0,'Yes':1})

dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [6]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

# attrition vs Age

In [14]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.Age
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

0.0 0.0

# attrition vs Distance from home

In [15]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.DistanceFromHome
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

221832.0 0.0

# Attrition vs EmployeeID

In [16]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.EmployeeID
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

355.5 0.0

# attrition vs Numcompanies worked

In [17]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.NumCompaniesWorked
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

2054322.0 0.0

#  attrition vs PercentSalaryHike

In [18]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.PercentSalaryHike
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

0.0 0.0

#  attrition vs StandardHours

In [20]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.StandardHours
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

0.0 0.0

# attrition vs totalworking years

In [21]:
from scipy.stats import mannwhitneyu
a1 = dataset.Attrition
a2 = dataset.TotalWorkingYears
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

170527.5 0.0