In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [20]:
titles = pd.read_csv("titles.csv")
cast = pd.read_csv("cast.csv")
print(titles)

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

# now we will solve questions

### How many movies are listed in the titles dataframe?

In [21]:
totalmovies = titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244914 entries, 0 to 244913
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   244914 non-null  object
 1   year    244914 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

### What are the earliest two films listed in the titles dataframe?

In [25]:
titles.sort_values(by=['year'], inplace=True)
early = titles.head(2)
early

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [42]:
print(len(titles.columns))
len(titles[titles.title == "Hamlet"])

2

20

### How many movies are titled "North by Northwest"?

In [43]:

len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [44]:
titles[titles.title == "Hamlet"].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [46]:
titles[titles.title == "Treasure Island"].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [47]:
len(titles[titles.year == 1950])

1113

### How many movies were made in the year 1960?

In [48]:
len(titles[titles.year == 1960])

1549

### How many movies were made from 1950 through 1959?

In [49]:
t = titles
len(t[(1950 <= t.year) & (t.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [50]:
t = titles
t[t.title == "Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [52]:
len(cast[cast.type == "Inception"])

0

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [58]:
print(cast.loc[cast.title == "Inception"])
cast.isna().sum()

             title  year                  name     type  \
98153    Inception  2010  Michael (III) August    actor
149008   Inception  2010          Peter Basham    actor
183937   Inception  2010          Tom Berenger    actor
197877   Inception  2010              Ken Bhan    actor
260128   Inception  2010        Virgile Bramly    actor
...            ...   ...                   ...      ...
3387147  Inception  2010            Ellen Page  actress
3444628  Inception  2010        Nicole Pulliam  actress
3473041  Inception  2010    Lisa (II) Reynolds  actress
3480170  Inception  2010         Talulah Riley  actress
3731263  Inception  2010        Shannon Welles  actress

                     character     n
98153            LAX Passenger   NaN
149008   Fischer's Jet Captain  44.0
183937                Browning   8.0
197877        Mombasan Gambler   NaN
260128          Bridge Sub Con  29.0
...                        ...   ...
3387147                Ariadne   3.0
3444628          Lobby Sub Con  43.0
3473041          Private Nurse  48.0
3480170                 Blonde  25.0
3731263                Old Mal  51.0

[78 rows x 6 columns]

title              0
year               0
name               0
type               0
character          0
n            1458573
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [59]:
print(cast.loc[cast.character == "Inception"])
cast.isna().sum()

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

title              0
year               0
name               0
type               0
character          0
n            1458573
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [62]:
cast1 = (cast["title"] == "North by Northwest")
x = cast.loc[cast1]
print(x)

                      title  year               name     type  \
12668    North by Northwest  1959      Stanley Adams    actor
29122    North by Northwest  1959         Andy Albin    actor
56389    North by Northwest  1959       Don Anderson    actor
56610    North by Northwest  1959    Ernest Anderson    actor
95950    North by Northwest  1959  Malcolm Atterbury    actor
...                     ...   ...                ...      ...
3518333  North by Northwest  1959    Eva Marie Saint  actress
3577128  North by Northwest  1959        Doris Singh  actress
3599912  North by Northwest  1959       Helen Spring  actress
3739133  North by Northwest  1959      Susan Whitney  actress
3751311  North by Northwest  1959     Paula Winslowe  actress

                                 character    n
12668                   Lieutenant Harding  NaN
29122                               Farmer  NaN
56389                               Worker  NaN
56610     Porter on Twentieth Century Ltd.  NaN
95950              Man at Prairie Crossing  NaN
...                                    ...  ...
3518333                        Eve Kendall  2.0
3577128  First United Nations Receptionist  NaN
3599912                             Bidder  NaN
3739133                          Attendant  NaN
3751311                   Woman at Auction  NaN

[116 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [65]:
cast2 = (cast["title"]  == "Sleuth" )
x = cast.loc[cast2]
print(x)

          title  year                 name     type  \
260242   Sleuth  2007      Kenneth Branagh    actor
326773   Sleuth  1972        Michael Caine    actor
326774   Sleuth  2007        Michael Caine    actor
373876   Sleuth  1972       Alec Cawthorne    actor
373877   Sleuth  2007  Alec (II) Cawthorne    actor
1293634  Sleuth  2007             Jude Law    actor
1448690  Sleuth  1972         Teddy Martin    actor
1465483  Sleuth  1972   John (II) Matthews    actor
1705394  Sleuth  1972     Laurence Olivier    actor
1805907  Sleuth  2007        Harold Pinter    actor
2724552  Sleuth  2007    Eve (II) Channing  actress
2724553  Sleuth  1972   Eve (III) Channing  actress
3370424  Sleuth  2007    Carmel O'Sullivan  actress

                          character    n
260242            Other Man on T.V.  NaN
326773                  Milo Tindle  2.0
326774                       Andrew  1.0
373876            Inspector Doppler  3.0
373877            Inspector Doppler  NaN
1293634                        Milo  2.0
1448690      Police Constable Higgs  6.0
1465483  Detective Sergeant Tarrant  4.0
1705394                 Andrew Wyke  1.0
1805907                 Man on T.V.  3.0
2724552             Marguerite Wyke  NaN
2724553             Marguerite Wyke  5.0
3370424                      Maggie  NaN

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [68]:
cast2 = (cast["title"]  == "Sleuth")
x = cast.loc[cast2]
print(x)

          title  year                 name     type  \
260242   Sleuth  2007      Kenneth Branagh    actor
326773   Sleuth  1972        Michael Caine    actor
326774   Sleuth  2007        Michael Caine    actor
373876   Sleuth  1972       Alec Cawthorne    actor
373877   Sleuth  2007  Alec (II) Cawthorne    actor
1293634  Sleuth  2007             Jude Law    actor
1448690  Sleuth  1972         Teddy Martin    actor
1465483  Sleuth  1972   John (II) Matthews    actor
1705394  Sleuth  1972     Laurence Olivier    actor
1805907  Sleuth  2007        Harold Pinter    actor
2724552  Sleuth  2007    Eve (II) Channing  actress
2724553  Sleuth  1972   Eve (III) Channing  actress
3370424  Sleuth  2007    Carmel O'Sullivan  actress

                          character    n
260242            Other Man on T.V.  NaN
326773                  Milo Tindle  2.0
326774                       Andrew  1.0
373876            Inspector Doppler  3.0
373877            Inspector Doppler  NaN
1293634                        Milo  2.0
1448690      Police Constable Higgs  6.0
1465483  Detective Sergeant Tarrant  4.0
1705394                 Andrew Wyke  1.0
1805907                 Man on T.V.  3.0
2724552             Marguerite Wyke  NaN
2724553             Marguerite Wyke  5.0
3370424                      Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [71]:
z= len(cast[cast.year == 1960]) and len(cast[cast.title == "Hamlet"])

342

### How many roles were credited in Branagh’s 1996 Hamlet?

In [73]:
len(cast[cast.title == "Hamlet"]) and len(cast[cast.year == 1996])

39453

### How many "Hamlet" roles have been listed in all film credits through history?

In [74]:
len(cast[cast.title == "Hamlet"])

342

### How many people have played an "Ophelia"?

In [75]:
len(cast[cast.character == "Ophelia"])

117

### How many people have played a role called "The Dude"?

In [83]:
len(cast[cast.character == "The Dude"])

19

### How many people have played a role called "The Stranger"?

In [82]:

print(len(cast[cast.character == "The Stranger"]))

212

### How many roles has Sidney Poitier played throughout his career?

In [84]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [85]:
len(cast[cast.name == "Judi Dench"])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [91]:
ww = cast.loc[:"Cary Grant" , : "n"]
ww

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3786171,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3786172,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3786173,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3786174,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3786175,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [94]:
vv = (cast[cast.name == "Cary Grant"])
vv.head()

,title,year,name,type,character,n
871388,Alice in Wonderland,1933,Cary Grant,actor,Mock Turtle,10.0
871389,An Affair to Remember,1957,Cary Grant,actor,Nickie Ferrante,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
871392,Blonde Venus,1932,Cary Grant,actor,Nick Townsend,3.0

### How many roles were available for actors in the 1950s?

In [96]:
len(cast[cast.year == 1950])

AttributeError: 'DataFrame' object has no attribute 'actor'

### How many roles were available for actresses in the 1950s?

In [97]:
len(cast[cast.year == 1950])

22397

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [99]:
leading = cast["n"] = 1 
leading

1

### How many non-leading roles were available through from the beginning of film history through 1980?

In [100]:
leading = cast["n"] > 1 
leading

0          False
1          False
2          False
3          False
4          False
           ...
3786171    False
3786172    False
3786173    False
3786174    False
3786175    False
Name: n, Length: 3786176, dtype: bool

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [101]:
leading = cast["n"] < 1 
leading

0          False
1          False
2          False
3          False
4          False
           ...
3786171    False
3786172    False
3786173    False
3786174    False
3786175    False
Name: n, Length: 3786176, dtype: bool