# 10 hypothesis on given probelm statement

# 1. Mean age of employee with an attrition is 33

Hypothesis: for a sample of 70 employees the mean age is found to be 32

H0 = 32
H1 ≠ 32

# 2. Average distance of employees from home to work is 15 km

Hypothesis: for a sample of 140 employees the average distance from work to home  is found to be 15 km

H0 = 15
H1 ≠ 15

# 3. 1% of employee leave the company due to health probelms 
Hypothesis: for a sample of 100 employees the average number of people who got health probelm is 1
 H0 = 1
H1 ≠ 1

# 4. Mean age of employee with retirement is  more than 60 years old

Hypothesis: for a sample of 40 employees the mean age is found to be more than 60 years old
H0 ≥ 32
H1 ≠ 32

# 5. Avg employee salary is below 40,000


Hypothesis: for a sample of 400 employees the mean salary is found to be below 40,000

H0 <= 40000
H1 ≠ 40000

# 6. 20% of employee doesn't get proper traning

Hypothesis: for a sample of 500 employee,the employees who didn't get proper traning is 100

H0 = 10
H1 ≠ 10

# 7. 5% employee moved to another city/country

Hypothesis: for a sample of 60 employees the employees who shifted to another cities are 3

H0 = 3
H1 ≠ 3

# 8 Average of 4 years for  next promotion 
Hypothesis: for a sample of 55 employees the average  years of promotion of employees is found to be below 4 years
H0 = 4
H1 ≠ 4

# 9.  Average Total working hours of employees is 8 hours
Hypothesis: for a sample of 70 employees the average  total working hours is 8 

H0 = 8
H1 ≠ 8

# 10. Mean salary hike of employees is 5%
Hypothesis: for a sample of 1000 employees the mean salary hike is found to be below 50

H0 ≤ 15
H1 ≠ 15